@import "./assets/fonts/WixMadeforDisplay/WixMadeforDisplay.css";
@import "./assets/fonts/Geologica/Geologica.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card:hover h3,
  .card:hover li,
  .card:hover p {
    color: #ffffff !important;
    border-color: #ffffff !important;
  }

  .card:hover .card-image {
    opacity: 1;
    transform: translateX(0) translateY(0) !important;
  }

  .text-5 {
    font-size: 12px;
    letter-spacing: -3%;
    line-height: 12.5px;
    font-weight: 600;
  }
  .geologica-text {
    font-family: Geologica;
  }

  .head-5 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -2%;
    font-family: Geologica, sans-serif;
    font-weight: 500;
  }
  .mob-head-2 {
    font-size: 36px;
    line-height: 36px;
    font-family: Geologica, sans-serif;
    font-weight: 500;
  }

  .mob-head-1 {
    font-size: 46px;
    line-height: 46px;
    font-family: Geologica, sans-serif;
    font-weight: 600;
  }
  .mob-text-3 {
    font-size: 14px;
    letter-spacing: 1%;
    line-height: 16.8px;
    font-weight: 400;
  }
  .mob-text-3-1 {
    font-size: 14px;
    letter-spacing: 1%;
    line-height: 16.8px;
    font-weight: 600;
  }
  .mob-head-4 {
    font-size: 18px;
    line-height: 18px;
    font-family: Geologica, sans-serif;
    font-weight: 500;
  }

  .mob-head-5 {
    font-size: 12px;
    line-height: 12.5px;
    font-weight: 600;
    letter-spacing: -3%;
  }
  .mob-button {
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 16.8px;
    font-family: Geologica, sans-serif;
    font-weight: 500;
  }
}

:root {
  font-family:
    Wix Madefor Display,
    system-ui,
    Helvetica,
    sans-serif;

  padding: 0;
}

body {
  background-color: #e9e9e9;
  /* max-width: 1440px;
  width: 100%;
  margin: 0 auto; */
}

/* .swiper-wrapper {
  flex-direction: row !important;
} */
